{% extends "ts.njk" %}

{#
This file is a template for the autogeneration of the TS widgets
from the Python widget definitions. It overrides the base template
to use custom definition of base class, containing all the event
wiring required.
#}

{# Override #}
{% block localimports %}


import {
  VtkWidgetModel
} from './base';
{{ super() }}
{% endblock %}

{% block widget %}
{% if widget.name !== 'VtkWidget' %}
{{ super() }}
{% endif %}
{% endblock %}
